<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    ">

	<!-- Context -->
	<context:property-placeholder location="classpath:config/default.conf" order="10000"/>
	<context:component-scan base-package="es.us.isa.odin"/>
	<context:annotation-config />
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven/>
	<mvc:resources mapping="/favicon.ico" location="/favicon.ico"/>


	<!-- VIEWS -->
	<import resource="config/views.xml" />
	<!-- DATA -->
	<import resource="config/data.xml" />
	
	<!-- Profile Conf -->
	<beans profile="dev">
		<context:property-placeholder location="classpath:config/default.conf,classpath:config/dev.conf" order="1" />
	</beans>
	<beans profile="heroku">
		<context:property-placeholder location="classpath:config/default.conf,classpath:config/heroku.conf" order="1" />
	</beans>
	<beans profile="openshift">
		<context:property-placeholder location="classpath:config/default.conf,classpath:config/openshift.conf" order="1" />
	</beans>
	
</beans>